<nav class="nav nav-pills mb-2 bg-light border">
  <a routerLink="items" routerLinkActive="active" class="nav-item nav-link">items</a>
  <a routerLink="workers" routerLinkActive="active" class="nav-item nav-link">workers</a>
  <a routerLink="register" routerLinkActive="active" class="nav-item nav-link">register</a>

  <app-auth></app-auth>
</nav>
<div class="container-fluid">
  <div class="card my-3 p-4 bg-light">
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
  <course-footer courses></course-footer>
</div>
